<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title %}Base{% endblock %}</title>
</head>
  <body>
    <header class="fixed-header">
      <div class="header-content">
          <div class="left-content">
            <span class="store-name">marlboro</span>
            <a id="menu-button" style = "padding-right: 50px;">
              <img src="{{ url_for('static', filename='img/menu.png')}}" width = 20 height = 20 alt="Меню">
            </a>
            <nav>
              <ul>
                  <li onclick="window.location.href='/'">Каталог товаров</li>                      
                  <li onclick="window.location.href='/myOrders'" >Заказы</li>
                  <li
                    {% if user.is_authenticated %}
                    {{ user.first_name }}
                  {% else %}
                    Аккаунт 
                  {% endif %}
                    {% if user.is_authenticated %}
                      <li onclick="window.location.href='/logout'">Выйти</li>
                      {% if user.email == 'admin@gmail.com' %}
                        <li onclick="window.location.href='/AddTovar'">Добавить Товар</li>
                        <li onclick="window.location.href='/AddSklad'">Добавить Склад</li>
                      {% endif %}
                    {% else %}
                      <li onclick="window.location.href='/login'">Войти</li>
                      <li onclick="window.location.href='/sign-up'">Зарегистрироваться</li>
                    {% endif %}
                  </li>
              </ul>
          </nav>
          </div>
          <div class="right-content">
              <nav>
                  <ul>
                    <li onclick="window.location.href='/basket'">
                      <img src="{{ url_for('static', filename='img/basket_black.png')}}" width = 50 height = 50 alt="Корзина">
                  </li>
                  </ul>
              </nav>
          </div>
      </div>
    </header>
    <main>

      {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert {% if category == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissable fade show custom-alert" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

      <div class="cont" style = "width: 100%;">
        {% block content %} 
        {% endblock %}
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

      {% block javascript %}
        <script type="text/javascript">
          function deleteItem(id) {
            fetch("/remove_item", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ id: id })
            }).then((response) => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error("Ошибка при удалении товара");
                }
            });
        }
        </script>
        <script type="text/javascript">
          var timeoutId = null;
          function increaseQuantity(itemId) {
            clearTimeout(timeoutId);
            var input = document.getElementById('kol-' + itemId);
            var currentQuantity = parseInt(input.value, 10);
            var currentPriceInput = document.getElementById('price-' + itemId);
            var currentPrice = parseFloat(currentPriceInput.value);
            var alone_price = currentPrice / currentQuantity;
            input.value = currentQuantity + 1;
            var newPrice = currentPrice + alone_price;
          
            var formattedPrice = newPrice.toFixed(2);
            currentPriceInput.value = formattedPrice;
            updateQuantityOnServer(itemId, input.value, formattedPrice);
          
            timeoutId = setTimeout(function () {
              location.reload();
            }, 1000); 
          }   
          
          function decreaseQuantity(itemId) {
            clearTimeout(timeoutId);
            var input = document.getElementById('kol-' + itemId);
            var currentQuantity = parseInt(input.value, 10);
            var currentPriceInput = document.getElementById('price-' + itemId);
            var currentPrice = parseFloat(currentPriceInput.value);
            var alone_price = currentPrice / currentQuantity;
            if (currentQuantity > 1) {
              input.value = currentQuantity - 1;
              var newPrice = currentPrice - alone_price;
          
              var formattedPrice = newPrice.toFixed(2);
              currentPriceInput.value = formattedPrice;
              updateQuantityOnServer(itemId, input.value, formattedPrice);

              timeoutId = setTimeout(function () {
                location.reload();
              }, 1000);
            }
          }
          function updateQuantityOnServer(itemId, quantity, price) {
            fetch('/update-quantity', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                itemId: itemId,
                quantity: quantity,
                price: price,
              }),
            });
          }
        </script>
      {% endblock %}


  </main>
    <footer>
      <div class = "fot_cont_text">
              <div onclick="window.location.href=' '">Политика конфиденциальности</div>
              <div onclick="window.location.href=' '">Договор оферты</div>
              <div onclick="window.location.href=' '">Дополнительная информация</div>
      </div>
      <div class = "fot_cont_img">
          <a href="">
              <img src="{{ url_for('static', filename='img/TikTok.png')}}" width="20" height="20" alt="Изображение 1">
          </a>
          <a href="">
              <img src="{{ url_for('static', filename='img/twitter.png')}}" width="20" height="20" alt="Изображение 2">
          </a>
          <a href="">
              <img src="{{ url_for('static', filename='img/instagram.png')}}" width="20" height="20" alt="Изображение 3">
          </a>
      </div>
  </footer>
  </body>
</html>
